<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CRT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <CRT.My.MySettings>
            <setting name="jarFilePath" serializeAs="String">
                <value>EDSSEnc.jar</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\unpiox53pn\Kolkata_Claim_Drive\Sharique\CRT\CRT.accdb;</value>
            </setting>
        </CRT.My.MySettings>
    </userSettings>
</configuration>
